doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registration form
  // <link rel="stylesheet" href="./css/bootstrap/css/bootstrap.css">
  link(rel='stylesheet' href='./css/registeration.css')
h2 Edit FarmerOne
.container
  form.row.g-3(action='/edit_farmerOne?id='+farmerOne._id name='edit farmerOne' onsubmit='return Validate(event);' method='POST')
    fieldset
      legend Personal Information
      .col-md-6
        label.form-label
          | First Name:  
          input#inputfirstname.form-control(type='text' name='firstname' value=farmerOne.firstname disabled)
        span#FNError
      .col-md-6
        label.form-label(for='inputfullname')
          | Last Name:  
          input#inputlastname.form-control(type='text' name='lastname' value=farmerOne.lastname disabled)
        span#LNError
      .col-md-6
        label.form-label(for='username')
          | Username:  
          input#username.form-control(type='text' name='username' value=farmerOne.username disabled)
        span#userNameErr
     
      .col-md-6
        label.form-label(for='inputNIN') National Identification Number (NIN)
        input#inputNIN.form-control(type='text' name='NIN' value=farmerOne.NIN  disabled)
        span#NINErr
      .col-10
        label.form-label(for='contactdetails') Phone number:
        input#focontact.form-control(type='text' name='phonenumber' value=farmerOne.phonenumber )
        span#phoneNoErr
      .col-10
        label.form-label(for='email') Email:
        input#email.form-control(type='email' name='email' value=farmerOne.email disabled)
        span#emailErr
      
      .col-7
        label(for='choice') Gender:
        label(for='male')
          input#male(type='radio' name='gender' value=farmerOne.gender disabled)
          | Male
        label(for='female')
          input#female(type='radio' name='gender' value=farmerOne.gender disabled)
          | Female
        span#genderErr
      .col-12
        label.form-label(for='inputAddress') Directions to your residence
        input#inputAddress.form-control(type='text' placeholder='plot 1, Entebbe rd, opp Police station' name="directionsToHome" value=farmerOne.directionsToHome disabled)
        span#address1Err
      .col-12
        label.form-label(for='inputAddress2') Residential type
        select#inputAddress2.form-control(type='text' name='residenceType' value=farmerOne.residenceType disabled)
          option(value='') Select
          option(value='Rented') Rented
          option(value='Owned') Owned
        span#address2Err
    fieldset
      legend Ward Information
      .col-3
        label.form-label(for='inputward') ward
        select#inputward.form-control(type='text' name='ward' value=farmerOne.ward)
          option(value='') Select
          option(value='ward A') Ward A
          option(value='Ward B') Ward B
          option(value='Ward C') Ward C
          option(value='Ward D') Ward D
        span#wardErr
      
      .col-6
        label.form-label(for='inputFOnumber') Unique FO number
        input#inputFOnumber.form-control(type='text' placeholder='eg UGFO-000' name='foNumber' value=farmerOne.foNumber disabled)
        span#foNoErr
      
      .mb-3.mt-3
        label Activities done by FO:
        br
        input#option1(type='checkbox'  value="Register Urban Farmers in the ward" name='activities')
        | Register Urban Farmers in the ward
        br
        input#option2(type='checkbox' value="Inspects the produce and agricultural activities for quality" name='activities')
        | Inspects the produce and agricultural activities for quality
        br
        input#option3(type='checkbox' value="Approves farmer's produce to be listed" name='activities')
        | Approves farmer's produce to be listed
        span#foactiviesErr
    button(type='submit') UPDATE
// <script src="css/bootstrap/js/bootstrap.bundle.js"></script>
script(src='./js/validations.js')
