doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Edit Farmer one
  link(rel='stylesheet' href='../../css/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='../../css/registeration.css')
h2(style='margin-top:20px') Edit FarmerOne Details
.container
      form(action='/edit_farmerOne?id='+farmerOne._id name='editfarmerOne' onsubmit='return Validate(event);' method='POST')
        fieldset(style='border:3px')
          legend Personal Information
          .row
            .col-md-4
              label First Name:
              input#inputfirstname.form-control(type='text' name='firstname' value=farmerOne.firstname disabled)
              span#FNError
            .col-md-4
              label Last Name:
              input#inputlastname.form-control(type='text' name='lastname' value=farmerOne.lastname disabled)
              span#LNError
            .col-md-4
              label National IdentificationNumber(NIN)
              input#inputNIN.form-control(type='text' name='NIN' value=farmerOne.NIN disabled)
              span#NINErr
            .col-md-4
              label Phonenumber:
              input#focontact.form-control(type='text' name='phonenumber' value=farmerOne.phonenumber)
              span#phoneNoErr
            .col-md-4
              label Email:
              input#email.form-control(type='email' name='email' value=farmerOne.email disabled)
              span#emailErr
            .col-md-4(style='margin-top: 30px;')
              label Gender:
              .form-check.form-check-inline
                label(for='male')
                  input#male.form-check-input(type='radio' name='gender' disabled) 
                  | Male
              .form-check.form-check-inline
                label(for='female')
                  input#female.form-check-input(type='radio' name='gender' disabled)
                  | Female
              span#genderErr
            .col-md-4
              label Directions to your residence
              input#inputAddress.form-control(type='text' placeholder='plot 1, Entebbe rd, opp Police station' name='directionsToHome' value=farmerOne.directionsToHome disabled)
              span#address1Err
            .col-md-4
              label Residential type
              select#inputAddress2.form-control(type='text' name='residenceType' disabled)
                option(value='' disabled) Select
                option(value='Rented') Rented
                option(value='Owned') Owned
              span#address2Err
        fieldset
          legend Ward Information
          .row
            .col-md-4
              label Ward
              select#inputward.form-control(type='text' name='ward')
                option(value='' disabled) Select
                option(value='ward A') Ward A
                option(value='Ward B') Ward B
                option(value='Ward C') Ward C
                option(value='Ward D') Ward D
              span#wardErr
            .col-md-4
              label Role
              input.form-control(type='text' value='farmerOne' name='role' readonly)
            .col-md-4
              label Unique FO number
              input#inputFOnumber.form-control(type='text' placeholder='eg UGFO-000' name='username' value=farmerOne.username disabled)
              span#foNoErr
          .mb-3.mt-3
            label Activities done by FO:
            br
            input#option1(type='checkbox' value='Register Urban Farmers in the ward' name='activities')
            | Register Urban Farmers in the ward
            br
            input#option2(type='checkbox' value='Inspects the produce and agricultural activities for quality' name='activities')
            | Inspects the produce and agricultural activities for quality
            br
            input#option3(type='checkbox' value="Approves farmer's produce to be listed" name='activities')
            | Approves farmerOne's produce to be listed
            span#foactiviesErr
   
        button.btn.btn-warning(type='submit') UPDATE
script(src='./css/bootstrap/js/bootstrap.min.js')
script(src='/js/validations.js')
