doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registered Farmer Ones
  link(rel='stylesheet' href='../../css/bootstrap/css/bootstrap.min.css')
div
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th Name
          //- th Last Name
          th username
          th NIN
          th Phone Number
          th Date of Birth
          th Gender
          th Directions to Home 
          th Residential type
          th Ward
          th Period of Stay in Ward (Years)
          th FO Number
          th Date of Registeration
          th Activities done by FO
      tbody
      if farmerOnes.length
        each farmerOne in farmerOnes 
        tr
          td #{farmerOne.firstname} #{farmerOne.LASTname}
          td #{farmerOne.username}
          td #{farmerOne.NIN}
          td #{farmerOne.directionsToHome}
          td #{farmerOne.residenceType}
          td #{farmerOne.ward}
          td #{farmerOne.periodOfStayInWard}
          td #{farmerOne.foNumber}
          td #{farmerOne.dateOfRegistration}
          td #{farmerOne.activities}  
      else
        p there are no farmerOnes in 
script(src='../public/css/bootstrap/js/bootstrap.min.js')
