doctype html
head
  title FarmerOne Dashboard
  // Bootstrap CSS
  link(rel='stylesheet' href='../../css/bootstrap/css/bootstrap.min.css')
  // Custom CSS
  link(rel='stylesheet' href='../../css/dash.css')
// Side Panel
#sidebar
  h3.text-center(style='font-size:25px;')
    | FarmerOne Dashboard
    button#defaultOpen.tablinks(onclick="showContent(event, 'welcome-message')" style='font-size:20px; margin-top:30px;') Dashboard
    br
    button.tablinks(onclick="showContent(event, 'ufregisteration-form')" style='font-size:20px;') Register Urban farmer
    br
    button.tablinks(onclick="showContent(event, 'urbanfarmers-list')" style='font-size:20px;') Urban Farmers
    br
    button.tablinks(onclick="showContent(event, 'uploadedproduce')" style='font-size:20px;') Uploaded produce
    br
    form(method='POST' action='/logout')
      button Logout
// Main Content
#content
  #welcome-message.tabcontent
    h1 Welcome to you UFARM
    p This is your dashboard, where you can manage urban farmers.
    p Please select an option from the side panel to get started.
  #ufregisteration-form.tabcontent
    h2 Registration form
    h3 Urban farmer
    .container
      form(action='/fodash' name='registeruf' onsubmit='return Validate(event);' method='POST')
        fieldset(style='border:3px')
          legend Personal Information
          .row
            .col-md-4
              label First Name:
              input#inputuffirstname.form-control(type='text' name='firstname')
              span#ufFNError
            .col-md-4
              label Last Name:
              input#inputuflastname.form-control(type='text' name='lastname')
              span#ufLNError
            .col-md-4
              label Password:
              input#ufpassword.form-control(type='text' name='password')
              span#ufpwdErr
            .col-md-4
              label National IdentificationNumber(NIN)
              input#ufinputNIN.form-control(type='text' name='NIN')
              span#ufNINErr
            .col-md-4
              label Phonenumber:
              input#ufcontact.form-control(type='text' name='phonenumber')
              span#ufphoneNoErr
            .col-md-4
              label Email:
              input#ufemail.form-control(type='email' name='email')
              span#ufemailErr
            .col-md-4
              label Date of Birth:
              input#ufbirthdate.form-control(type='date' name='birthdate')
              span#ufdobErr
            .col-md-4(style='margin-top: 30px;')
              label Gender:
              .form-check.form-check-inline
                label(for='ufmale')
                  input#ufmale.form-check-input(type='radio' name='gender' value='male')
                  | Male
              .form-check.form-check-inline
                label(for='uffemale')
                  input#uffemale.form-check-input(type='radio' name='gender' value='female')
                  | Female
              span#ufgenderErr
        fieldset
          legend Ward Information
          .row
            .col-md-4
              label Ward
              select#ufinputward.form-control(type='text' name='ward')
                option(value='') Select
                option(value='ward A') Ward A
                option(value='Ward B') Ward B
                option(value='Ward C') Ward C
                option(value='Ward D') Ward D
              span#ufwardErr
            .col-md-4
              label Role:
              input.form-control(type='text' name='role' value='urbanfarmer' readonly='')
            .col-md-4
              label Unique FO number
              input#inputUFnumber.form-control(type='text' placeholder='eg UGUF-000' name='username')
              span#ufNoErr
            .col-md-4
              label.form-label(for='ufregistrationdate') Date of Registration:
              input#registrationDate.form-control(type='date' name='dateOfRegistration')
              span#ufdoRErr
          .mb-3.mt-3
            label Activities:
            br
            input#ufoption1(type='checkbox' value='Horticulture' name='ufactivities')
            | Horticulture
            br
            input#ufoption2(type='checkbox' value='Poultry' name='ufactivities')
            | Poultry
            br
            input#ufoption3(type='checkbox' value='Dairy farming' name='ufactivities')
            | Dairy farming
            span#ufactiviesErr
        button.btn.btn-primary(type='submit' style='width: 100px;') Submit
  #urbanfarmers-list.tabcontent(style='margin-top:50px;')
    .table-responsive
      table.table.table-striped.table-hover.border-secondary
        thead
          tr(style='color:#4A3728;')
            th Name
            th Unique ID
            th NIN
            th Phone Number
            th Email
            th Date of Birth
            th Gender
            th Ward
            th Date of Registration
            th Activities
        tbody
        if urbanfarmers.length 
          each urbanfarmer in urbanfarmers
            tr
              td #{urbanfarmer.firstname} #{urbanfarmer.lastname}
              td #{urbanfarmer.username}
              td #{urbanfarmer.NIN}
              td #{urbanfarmer.phonenumber}
              td #{urbanfarmer.email}
              td #{urbanfarmer.birthdate}
              td #{urbanfarmer.gender}
              td #{urbanfarmer.ward}
              td #{urbanfarmer.dateOfRegistration}
              td #{urbanfarmer.ufactivities}
        else 
          p there are no urban farmers registered.

  #uploadedproduce.tabcontent
    div
      .table-responsive
        table.table.table-striped.table-hover.border-secondary
          thead
            tr(style='color:#4A3728;')
              th Produce Image
              th Produce Name
              th Ward
              th Unique ID
              th Date
              th Unit Price
              th Quantity
              th Mode of Payment
              th Directions
              th Mode of Delivery
              th Produce Type
              th Status
              th Action
          tbody
          if produce.length 
            each item in produce
              tr
                td 
                  img(src='/produceimages/'+item.produceimage height='100px' width='100px')
                td #{item.producename}
                td #{item.wardname}
                td #{item.username}
                td #{item.date}
                td #{item.unitprice} ugx
                td #{item.quantity}
                td #{item.paymentmode}
                td #{item.directions}
                td #{item.deliverymode}
                td #{item.producetype}
                td(style={color: item.status === 'Pending' ? '#FF5800' : item.status === 'Approved' ? 'green' : 'red'}) #{item.status}
                td
                  a.btn.btn-dark.btn-block(href="/edit_produce/"+item.id) Edit
          else 
            p there is no produce uploaded.
// JS
script(src='../../css/bootstrap/js/bootstrap.min.js')
script(src='../../js/dash.js')
script(src='../../js/ufregvalidation.js')
