doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registered Urban Farmers
  link(rel='stylesheet' href='../../css/bootstrap/css/bootstrap.min.css')
div
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th Name
          th username
          th NIN
          th Phone Number
          th Email
          th Date of Birth
          th Gender
          th Ward
          th Urban Farmer ID
          th Date of Registeration
          th Activities carried out
         
      tbody
      if urbanfarmers.length
        each urbanfarmer in urbanfarmers 
          tr
            td #{urbanfarmer.firstname} #{urbanfarmer.lastname}
            td #{urbanfarmer.username}
            td #{urbanfarmer.NIN}
            td #{urbanfarmer.phonenumber}
            td #{urbanfarmer.email}
            td #{urbanfarmer.birthdate}
            td #{urbanfarmer.gender}
            td #{urbanfarmer.ward}
            td #{urbanfarmer.uniqueID}
            td #{urbanfarmer.dateOfRegistration}
            td #{urbanfarmer.ufactivities}   
      else
        p there are no urban farmers in the database.
script(src='../public/css/bootstrap/js/bootstrap.min.js')
